/* === RESET — va siempre primero === */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* === TIPOGRAFÍA BASE === */
body {
 font-family: 'Open Sans', sans-serif; /* reemplazar con la fuente elegida */
 background-color: #F5F5F5; /* reemplazar con el color de fondo */
 color: #222222;
}
h1, h2, h3 {
 font-family: 'Montserrat', sans-serif; /* reemplazar con la fuente de títulos */
}

nav { display: flex;
    font-weight:bold;
    justify-content: center;
    background-color: #219ebc;
    padding: 10px 0;

}