/* === RESET — va siempre primero === */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* === TIPOGRAFÍA BASE === */
body {
 font-family: 'Open Sans', sans-serif; /* reemplazar con la fuente elegida */
 background-color: #F5F5F5; /* reemplazar con el color de fondo */
 color: #222222;
}
h1, h2, h3 {
 font-family: 'Montserrat', sans-serif; /* reemplazar con la fuente de títulos */
}
#h2p {
    justify-content: center;
    display: flex;
    padding: 25px 0;
    
}
nav { 
    display: flex;
    font-weight:bold;
    justify-content: center;
    background: rgba(139, 225, 235); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 15px 0;

}
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
    color: #000000;
}
a:hover{
    color: rgb(17, 71, 115);
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute; bottom: 0;
    background-color: #4a5759;
    color: white;
    justify-content: center;
    padding: 10px;
    width: 100%;
    }

.equipo {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.tecnicos {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#h2tec {
    color: #219ebc;

}
#s-nosotros {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
